In [1]:
import pandas as pd

data = {
    "Species": ["Abalone", "Salmon", "Tuna", "Sardine", "Trout"],
    "Length": [0.455, 0.350, 0.530, 0.440, 0.330],
    "Weight": [0.514, 0.225, 0.677, 0.516, 0.205],
    "Age": [15, 7, 9, 10, 7]
}

df = pd.DataFrame(data)

In [5]:
df.style.background_gradient(axis=0)